<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre Producto:</strong>
  <%= @producto.nombrep %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @producto.categoriap %>
</p>

<p>
  <strong>Unidad Medida:</strong>
  <%= @producto.unidadmedidap %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @producto.stockp %>
</p>

<p>
  <strong>Precio costo:</strong>
  <%= @producto.precostop %>
</p>

<p>
  <strong>Precio Venta:</strong>
  <%= @producto.prevenp %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
