<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @citum.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @citum.time %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @citum.obs %>
</p>

<p>
  <strong>Mascota:</strong>
  <%= @citum.mascota %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @citum.medico %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @citum.cliente %>
</p>

<%= link_to 'Edit', edit_citum_path(@citum) %> |
<%= link_to 'Back', cita_path %>
